<div class="btn-group btn-group-xs editItemsButtons">
	<button ng-show="model.puedeEditar(item)" ng-click="model.updateItem(item)" class="btn btn-primary">Editar</button>
	<button ng-show="model.puedeBorrar()" ng-click="model.openOnDelete(item)" class="btn btn-danger">Eliminar</button>
</div>
