[ng-cloak]
{
  display: none !important;
}

img {
  clip-path: polygon(0px 208px, 146.5px 207px, 147px 141.2px, ...);
}

.nav,.pagination,.carousel,.panel-title a {
	cursor: pointer;
}

.botonUsuario {
	cursor: pointer;
}

.btn-info.active {
	background: rgb(37,141,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

body {
/* 	background: #292D36; */
	padding-top: 50px;
	padding-bottom: 30px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.mainRow {
	margin-right: 10px;
	margin-left: 10px;
}

.movieContainer {
  float: left;
  width: 80%;
  padding-left: 0px;
}

.mainContainer {
	width: 100%;
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
	color: #fff;
	background-color: #db5566;
	border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
	color: #fff;
	background-color: #df6a78;
	border-bottom:2px solid #b25560;
	outline: none;
}

.panel-item-container {
  margin-bottom: 2%;
  width: 20%;
  margin-left: 5%;
  float: left;
  height: 325px;
}

.editItemsButtons {
	top: 0px;
}

.panel-movie {
   box-shadow: 1px 1px 5px rgb(136, 136, 136);
   margin-top: 28px;
   width: 200px;
   height: 255px;
}

.altoMarco {
position: relative;
width: 224px;
height: 304px;
left: -28px;
top: -67px;
}

.tituloPanel {
position: relative;
top: -38px;
z-index: 1;

max-width: 190px; 
line-height: 1.2em; 
height: 1.2em; 
font-size: 13px; 
overflow: hidden; 
text-overflow: ellipsis; 
white-space: nowrap;
color: rgb(135,2,2);
}

.tituloPanel > a {
font-family: Tahoma, sans-serif;	
font-size: 13px;
font-weight:bold;
text-shadow: 2px 2px 4px rgb(255,255,255);
}

.tituloPanel > a:hover {
color: rgb(0,127,180);
text-decoration: underline;
}

.tituloPanelMovies > a {
color: rgb(9, 100, 181);
}

.tituloPanelGames > a {
color: rgb(9, 100, 181);
}

.tituloPanelMusic > a {
color: rgb(120,240,240);
}

.tituloPanelSeries > a {
color: rgb(240, 240, 240);
}

.tituloPanelSoft > a {
color: rgb(240, 240, 240);
}

.cuerpoPanel {
position: relative; 
width: 100%; 
height: 100%;
background-size: 100% 100%;
}

/*
In order for the scrollbar to appear, the element(s) 
should have the typical CSS properties of an overflowed block which are a height (or max-height) value, 
an overflow value of auto (or hidden) and content long enough to require scrolling. 
*/
.showUpDescriptionMovies {
position: relative;
width: 117%;
height: 113%;
top: -334px;
left: -14px;
overflow: auto;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

background: rgb(180,227,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(180,227,145) 0%, rgb(97,196,25) 50%, rgb(180,227,145) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(180,227,145)), color-stop(50%,rgb(97,196,25)), color-stop(100%,rgb(180,227,145))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(180,227,145) 0%,rgb(97,196,25) 50%,rgb(180,227,145) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(180,227,145) 0%,rgb(97,196,25) 50%,rgb(180,227,145) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(180,227,145) 0%,rgb(97,196,25) 50%,rgb(180,227,145) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(180,227,145) 0%,rgb(97,196,25) 50%,rgb(180,227,145) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

.showUpDescriptionGames {
position: relative;
width: 117%;
height: 113%;
top: -334px;
left: -14px;
overflow: auto;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

background: rgb(255,175,175); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(255,175,175) 0%, rgb(255,86,86) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,175,175)), color-stop(100%,rgb(255,86,86))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(255,175,175) 0%,rgb(255,86,86) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(255,175,175) 0%,rgb(255,86,86) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(255,175,175) 0%,rgb(255,86,86) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(255,175,175) 0%,rgb(255,86,86) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafaf', endColorstr='#ff5656',GradientType=0 ); /* IE6-9 */
}

.showUpDescriptionMusic {
position: relative;
width: 117%;
height: 113%;
top: -334px;
left: -14px;
overflow: auto;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

background: rgb(110,77,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(110,77,242,1) 0%, rgba(141,103,224,1) 47%, rgba(106,6,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,77,242,1)), color-stop(47%,rgba(141,103,224,1)), color-stop(100%,rgba(106,6,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(110,77,242,1) 0%,rgba(141,103,224,1) 47%,rgba(106,6,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(110,77,242,1) 0%,rgba(141,103,224,1) 47%,rgba(106,6,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(110,77,242,1) 0%,rgba(141,103,224,1) 47%,rgba(106,6,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(110,77,242,1) 0%,rgba(141,103,224,1) 47%,rgba(106,6,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e4df2', endColorstr='#6a06ce',GradientType=0 ); /* IE6-9 */
}

.showUpDescriptionSeries {
position: relative;
width: 117%;
height: 113%;
top: -334px;
left: -14px;
overflow: auto;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

background: rgb(37,141,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

.showUpDescriptionSoft {
position: relative;
width: 117%;
height: 113%;
top: -334px;
left: -14px;
overflow: auto;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.idiomasFlags {
position: absolute;
left: 7px;
bottom: 4px;	
}

.field {
	
}

.showUpDescriptionMovies strong {
  color: rgb(9, 100, 181);
}

.showUpDescriptionGames strong {
  color: rgb(9, 100, 181);
}

.showUpDescriptionMusic strong {
  color: rgb(120,240,240);
}

.showUpDescriptionMusic a {
  color: rgb(120,240,240);
}

.showUpDescriptionMusic p {
  color: rgb(120,200,200);
}

.showUpDescriptionSeries strong {
  color: rgb(240, 240, 240);
}

.showUpDescriptionSeries p {
  color: rgb(215, 215, 215);
}

.showUpDescriptionSeries a {
  color: rgb(230, 230, 230);
}

.showUpDescriptionSoft strong {
  color: rgb(240, 240, 240);
}

.showUpDescriptionSoft p {
  color: rgb(215, 215, 215);
}

.showUpDescriptionSoft a {
  color: rgb(230, 230, 230);
}

.searchPanels {
	width: 20%;
	max-width: 300px;
	float: left;	
}

.panel-search {
	width: 95%;
}

.panel-primary {
   border: 1px solid transparent;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
   border-color: rgb(255, 255, 255);
}

.panel-primary > .panel-body:hover {
   background-color: #eee;
}

.panel-primary > .panel-body {
   background: whitesmoke;
}

.panel-primary > .panel-heading {
	background: rgb(126,31,31);
	border-bottom: 0px;
	padding: 8px;
	text-shadow: 0 0 3px #004403;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
	font-family: Century Gothic,Arial,sans-serif;
	line-height: 1.2em;
	overflow: hidden;
	border-radius: 6px 6px 0 0;
}

.panel-default > .panel-heading {
	background: #232b2b;
	border-bottom: 0px;
	padding: 8px;
	text-shadow: 0 0 3px #004403;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
	font-family: Century Gothic,Arial,sans-serif;
	line-height: 1.2em;
	overflow: hidden;
	border-radius: 6px 6px 0 0;
}

.panel-default > .panel-body:hover {
  background-color: #eee;
}

.panel-default {
   border: 1px solid transparent;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
   border-color: rgb(255, 255, 255);
}

.panel-default > .panel-body {
	background: whitesmoke;
}

.row-centered {
/*     text-align:center; */
}

.col-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description-anim {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
  opacity:0.9;
}

.description-anim.ng-hide {
  opacity:0;
}

.description-anim.ng-hide-add, .description-anim.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.thhh-animation.ng-enter {
  -webkit-animation: bounce_sequence 0.75s; /* Safari/Chrome */
  animation: bounce_sequence 0.75s; /* IE10+ and Future Browsers */
}

@-webkit-keyframes bounce_sequence {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce_sequence {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.mainView-animation.ng-enter {
  -webkit-animation: mainView-sequence 0.75s;
  animation: mainView-sequence 0.75s;
}

@-webkit-keyframes mainView-sequence {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes mainView-sequence {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}