<div class="container searchPanels">
	<form ng-submit="model.getItems()">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-default" ng-click="model.resetSearch()"><span class="glyphicon glyphicon-refresh"></span> Limpiar</button>
			</div>
		</div>
		<hr>
		<div class="row" style="overflow-y: scroll; height: 350px;" ng-transclude></div>
	</form>
</div>
